# Libraries required for the project
# to add more libraries, just update requirements.txt and re-run
# pip install -r requirements.txt

transformers
torch
kagglehub[hf-datasets]
flask
flask-cors
tldextract
